// old
// $opt-color: rgb(82, 179, 217);
// $opt-highlight: #19b5fe;
// $font-important: #52b3d9;

$opt-color: #4468B0;
$opt-highlight: #4483FB;
$opt-shadow: #829ec7;
$yellow-highlight: rgb(250, 233, 53);

//fonts
$font-main: #34495e;
$font-important: #4468B0;
$font-secondary: #34495e;

$fb-main: #3b5998;
$fb-second: #8b9dc3;


$q-bg: #e4f1fe;



body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 13px;
    button {
        outline: none;
    }
}
