{
  "extends": [
    "airbnb",
    "prettier",
    "plugin:meteor/recommended",
    "@meteorjs/eslint-config-meteor"
  ],
  "settings": {
    "import/resolver": {
      "meteor": {
        "extensions": [".js", ".jsx"]
      }
    }
  },
  "rules": {
    "object-curly-newline": 0,
    "react/no-unused-prop-types": 0,
    "arrow-parens": ["error", "as-needed"],
    "import/no-named-as-default": 0,
    "comma-dangle": ["error", {
      "arrays": "never",
      "objects": "never",
      "imports": "never",
      "exports": "never",
      "functions": "ignore"
    }],
    "function-paren-newline": 0,
    "max-len": [
      "error",
      {
        "ignoreStrings": true,
        "code": 80,
        "ignoreUrls": true
      }
    ],
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "none",
        "singleQuote": true,
        "arrowParens": "avoid"
      }
    ],
    "no-console": 0
  },
  "plugins": ["react", "meteor", "prettier"]
}
