body {
  font-family: "Open Sans", sans-serif;
}

.email {
  margin: 10px;
  padding: 15px;
  border: 2px #4ecdc4 solid;
  background-color: #f5f5f5;
  border-radius: 10px;
  width: 512px;
  color: #34495e;
  font-size: 13px;
  box-shadow: 6px 6px 6px -6px #1ba39c;
}

.buttons {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

button {
  background-color: white;
  border-radius: 5px;
  width: 100px;
  padding: 5px;
  font-size: 14px;
  color: white;
  box-shadow: 6px 6px 6px -6px #95a5a6;
}

.phishing {
  background-color: #ec644b;
  border: 1.5px #e4f1fe solid;
}

.not-phishing {
  background-color: #4ecdc4;
  border: 1.5px #e4f1fe solid;
}

.phishing:hover,
.not-phishing:hover {
  border: 1.5px #feff51 solid;
}

.from,
.subject {
  font-size: 14px;
}

.emailbody {
  margin: 10px 0 10px 0;
}

/* when rendered in iframe */
@media screen and (max-width: 720px) {
  .email {
    width: auto;
  }
}
