@import "../../assets/main";

.fb-question {
  border: 2px $font-important solid;
  background-color: #e4f1fe;
  box-sizing: border-box;
  margin: 30px auto;
  padding: 10px;
  width: 450px;
  color: #34495e;
  box-shadow: -5px 5px 0px rgba(206, 223, 239, 0.9);
}

.fb-title {
  font-size: 18px;
  color: $font-important;
  font-weight: 600;
}

.fb-opt-list {
  display: table; /* Allow the centering to work */
  margin: 0 auto;
}

.fb-opt-list li {
  display: inline;
  margin-right: 20px;
}

.ans {
  background-color: white;
  width: 90%;
  margin: 10px auto;
  font-size: 14px;
  padding: 10px;
  align-items: baseline;
  box-shadow: 2px 2px 5px rgba(210, 215, 211, 0.4);
}

.ans-important {
  font-size: 25px;
  font-weight: 700;
  color: rgb(82, 179, 217);
}
