@import "../../assets/main";

.fb-question {
  border: 2px $font-important solid;
  background-color: #e4f1fe;
  box-sizing: border-box;
  margin: 30px auto;
  padding: 15px;
  width: $q-width;
  color: #34495e;
  box-shadow: -5px 5px 0px rgba(206, 223, 239, 0.9);
}

.fb-title {
  font-size: 18px;
  color: $font-important;
  font-weight: 600;
}

.fb-description {
  font-size: 13px;
}

.fb-opt-list {
  display: table; /* Allow the centering to work */
  margin: 0 auto;
}

.fb-opt-list li {
  display: inline;
  margin-right: 20px;
}

.ans {
  background-color: white;
  font-size: 14px;
  padding: 10px;
  align-items: baseline;
  box-shadow: 2px 2px 5px rgba(210, 215, 211, 0.4);
  animation: appear 500ms ease-out forwards;
}

.ans-important {
  font-size: 25px;
  font-weight: 700;
  color: rgb(82, 179, 217);
}

.action-buttons {
  text-align: right;
}

.action-buttons button {
  height: 30px;
  border-radius: 10px;
  background: #fff;
  text-shadow: 0;
  font: {
    size: 13px;
  }
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.25s ease;
  box-shadow: 1.5px 1.5px 0px rgba(191, 191, 191, 0.7);
}

#action-next {
  border: 2px solid $opt-highlight;
  color: $opt-highlight;
  &:hover {
    color: white;
    background: $opt-highlight;
  }
}

#action-fb {
  border: 2px solid $fb-second;
  color: $fb-second;
  &:hover {
    color: white;
    background: $fb-second;
  }
}

@keyframes appear {
  0% {
    transform:scale(0);
  }
  50% {
    transform:scale(1.02)
  }
  75% {
    transform:scale(0.98)
  }
  100% {
   transform:scale(1)
  }
}
