@import "../../assets/main";

.fb-question {
  border: 2px $font-important solid;
  background-color: #e4f1fe;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 15px;
  width: 40vw;
  // width: 100%;
  color: #34495e;
  box-shadow: -5px 5px 0px rgba(206, 223, 239, 0.9);
  margin-top: 10px;
}

.fb-title {
  font-size: 1.6em;
  color: $font-important;
  font-weight: 600;
}

.fb-description {
  font-size: 1.2em;
  margin-top: 0.5%;

}

.fb-opt-list {
  display: table; /* Allow the centering to work */
  margin: 0 auto;
  
}

.fb-opt-list li {
  display: inline;
  margin-right: 20px;
}

.selected {
  background-color: white;
  font-size: 1.2em;
  padding: 7px 10px;
  color: #747474;
  align-items: baseline;
  box-shadow: 2px 2px 5px rgba(210, 215, 211, 0.4);
  // border: 2px #4468B0 solid;
  animation: appear 600ms ease-out forwards;
  span {
    font-size: 1.4em;
    font-weight: 600;
    color: #4468B0;
  }
}

.crowd-choice {
  cursor: pointer;
  display: flex;
  background-color: white;
  font-size: 1.2em;
  padding: 7px 10px;
  color: #747474;
  align-items: baseline;
  box-shadow: 2px 2px 5px rgba(210, 215, 211, 0.4);
  border: 2px #4468B0 solid;
  animation: appear 600ms ease-out forwards;
  span {
    font-size: 1.4em;
    font-weight: 600;
    color: #4468B0;
  }
  .percent {
    margin-right: 0.2em;
  }
  .option {
    margin: 0 0.2em 0 0.2em;
  }
  .total-votes {
    color: #4468B0;
    display: flex;
    font-size: 1em;
    font-weight: normal;
    margin: auto 0 auto auto;
  }
}

.graph {
  background-color: white;
  font-size: 1.2em;
  padding: 7px 10px;
  color: #747474;
  align-items: baseline;
  box-shadow: 2px 2px 5px rgba(210, 215, 211, 0.4);
  // border: 2px #4468B0 solid;
  animation: appear 600ms ease-out forwards;
  span {
    font-size: 1.4em;
    font-weight: 600;
    color: #4468B0;
  }
}

// .selected {
//   background-color: white;
//   font-size: 1.2em;
//   padding: 7px 10px;
//   color: #747474;
//   align-items: baseline;
//   box-shadow: 2px 2px 5px rgba(210, 215, 211, 0.4);
//   border: 2px #0c548e solid;
//   animation: appear 600ms ease-out forwards;
//   span {
//     color: #0c548e;
//   }
// }

.current-ok {
  background-color: white;
  font-size: 1.2em;
  padding: 7px 10px;
  color: #747474;
  align-items: baseline;
  box-shadow: 2px 2px 5px rgba(210, 215, 211, 0.4);
  border: 2px #0c8e1e solid;
  animation: appear 600ms ease-out forwards;
}

.current-warning {
  background-color: white;
  font-size: 1.2em;
  padding: 7px 10px;
  color: #747474;
  align-items: baseline;
  box-shadow: 2px 2px 5px rgba(210, 215, 211, 0.4);
  border: 2px #ffbf24 solid;
  animation: appear 600ms ease-out forwards;
}

.current-alert {
  background-color: white;
  font-size: 1.2em;
  padding: 7px 10px;
  color: #747474;
  align-items: baseline;
  box-shadow: 2px 2px 5px rgba(210, 215, 211, 0.4);
  border: 2px #fb4444 solid;
  animation: appear 600ms ease-out forwards;
}

.current-important {
  font-size: 1.4em;
  font-weight: 600;
}

.ok {
  color: #0c8e1e;
}
.warning {
  color: #ffbf24;
}
.alert {
  color: #fb4444;
}

.ans {
  background-color: white;
  font-size: 1.2em;
  padding: 10px;
  align-items: baseline;
  box-shadow: 2px 2px 5px rgba(210, 215, 211, 0.4);
  animation: appear 600ms ease-out forwards;
}

.ans-important {
  font-size: 1.4em;
  font-weight: 600;
  color: $opt-highlight;
}


.action-buttons {
  text-align: right;
}

.action-buttons button {
  font-weight: 600;
  height: 30px;
  border-radius: 10px;
  background: #fff;
  text-shadow: 0;
  margin-left: 10px;
  font: {
    size: 14px;
  }
  cursor: pointer;
  transition: all 0.25s ease;
  box-shadow: 1.5px 1.5px 0px rgba(191, 191, 191, 0.7);
}

.center {
  display: grid;
  justify-items: center;
}

#action-next {
  border: 2px solid $opt-highlight;
  color: $opt-highlight;
  &:hover {
    color: white;
    background: $opt-highlight;
  }
}

#action-fb {
    color: white;
    background: #e40000;
    border: 2px solid #e40000;
  &:hover {
    background-color: white;
    color: #e40000;
    
  }
}

@keyframes appear {
  0% {
    transform:scale(0);
  }
  50% {
    transform:scale(1.01)
  }
  75% {
    transform:scale(0.99)
  }
  100% {
   transform:scale(1)
  }
}
