body {
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif !important;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

.section-iframe {
  width: 100%;
  margin: auto;
}

.section-iframe iframe {
  box-sizing: border-box;
  border: 0px solid #ccc;
  height: 60vh;
  width: 100%;
}

.banner {
  align-items: center;
  width: 100vw;
  color: white;

  background: #6190e8; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #6190e8, #a7bfe8); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #6190e8, #a7bfe8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  display: flex;
  flex-flow: column nowrap;
  padding: 2% 0 2% 0;
  justify-content: center;
}

.banner h1 {
  font-size: 2.5em;
  font-weight: 400;
  text-shadow: 2px 2px 3px rgba(34, 167, 240, 0.7);
}

.section-row {
  width: 100%;
  margin-top: 2%;
}

.section-text {
  font-size: 22px;
  font-weight: 500;
  padding: 0.5%;
  color: #6C7A89;  
}

.section-title {
  width: 60%;
  text-align: left;
  margin: auto;
}

.footer {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 80px;
  background-color: #a7bfe8;
}

.footer p {
  display: block;
  padding-top: 20px;
  font-weight: 600;
  text-align: center;
  color: white;
  font-size: 13px;
}

#search {
  border-radius: 10px;
  border: 2px white solid;
  margin: 0 auto 0 auto;
  padding: 0.5em;
  font: 17px "Lato", arial, sans-serif;
  transition: all 0.5s;
  width: 400px;
}

#search form {
  margin: 0;
}

#search:hover,
#search:focus {
  background: #4483FB;
}

#search button,
#search input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: 0;
  color: inherit;
  font: inherit;
  outline: 0;
}

#search input {
  flex: 1;
}
#search input::-webkit-input-placeholder {
  color: #fff;
}
#search input:-ms-input-placeholder {
  color: #fff;
}
#search input::-ms-input-placeholder {
  color: #fff;
}
#search input::placeholder {
  color: #fff;
}

#search-button {
  float: right;
}