body {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

iframe {
  display: block;
  margin: auto;
  width: 100%;
  height: 50%;
  box-sizing: border-box;
  border: 0px solid #ccc;
}

#iframe {
  width: 60%;
  margin: 20px auto 20px auto;
}

.banner {
  align-items: center;
  width: 100vw;
  background-color: #89c4f4;
  display: flex;
  color: #fff;
  flex-flow: column nowrap;
  height: 45vh;
  justify-content: center;
}

.banner h1 {
  font-size: 40px;
  font-weight: 300;
  padding-bottom: 10px;
}

#search {
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 2px white solid;
  display: flex;
  justify-content: space-between;
  margin: 0.5em 0;
  padding: 0.5em 0.5em 0.5em 0.5em;
  font: 20px "Lato", arial, sans-serif;
  transition: all 0.5s;
  width: 450px;
}

#search form {
  margin: 0;
}

#search:hover,
#search:focus {
  background: #59abe3;
}

#search button,
#search input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: 0;
  color: inherit;
  font: inherit;
  outline: 0;
}
#search button {
  cursor: pointer;
  padding: 0 0.25em;
}
#search input {
  flex: 1;
}
#search input::-webkit-input-placeholder {
  color: #fff;
}
#search input:-ms-input-placeholder {
  color: #fff;
}
#search input::-ms-input-placeholder {
  color: #fff;
}
#search input::placeholder {
  color: #fff;
}

.fb-row {
  width: 100%;
}

.footer {
  width: 100%;
  height: 170px;
  background-color: #75c0f2;
}

.footer p {
  display: block;
  padding-top: 50px;
  width: 100%;
  text-align: center;
  color: white;
}
