
.grid-wrapper {
    display: grid;
    grid-template-columns: 25% 70%;
    grid-template-areas:"sidebar content";  
    grid-column-gap: 5%;
}

.grid-content {
    grid-area: content;
}

.grid-sidebar {
    grid-area: sidebar;
}





