.fb-option {
  width: 80px !important;
  height: 80px;
  font-size: 13x;
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
  background-color: #59abe3;
  color: #ffffff;
  -webkit-border-radius: 3px;
  border-radius: 5px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.fb-option:hover {
  background-color: #19b5fe;
  border: 1.5px #f5d76e solid;
}
